@import "../variables.scss";

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .filter {
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 12px;
    button:last-child {
      margin: 0;
    }
  }
  span {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: $font-size-md*1.1;
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .dashboard {
    .filter {
      border-radius: 6px;
    }
    span {
      margin-right: 5px;
    }
  }
}
